<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>nombre</th>
			<th>Capital Inicial</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="report: ${reports}">
			<td th:text="${report.id}"></td>
			<td th:text="${report.fullName}"></td>
			<td th:text="${report.previousCapital}"></td>
		</tr>
	</tbody>
</table>
<a th:href="@{/generate-pdf}">Generar PDFs</a>
</body>
</html>